body {
  overflow: hidden;
  margin: 0;
  text-align: center;
  background-color: darkgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;


}

#canvas {
  background-color: lightgray;
  border-radius: 4px;
  
}
